a {
    font-family: verdana,arial,sans-serif;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: none;
}
html {
    min-height: 100%;
}
body {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.1) 100px),url("worldblue2.webp");
    background-color: #060b54;
    background-repeat: no-repeat, repeat;
    text-align: center;
    max-width: 2129px;
    margin: auto !important;
    float: none !important;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}
::selection {
  background: blue;
}
a:link {
    color: #ffff00;
}
a:visited {
    color: #0000ff;
}
a:hover {
    font-size: 12pt;
    font-weight: bold;
    color: #000000;
    background-color: #ffff00;
}
a:active {
    color: #cc33ff;
}
a.green {
    color: #00ff00;
    font-size: 12pt;
}
a.green:hover {
    color: #000000;
}
p {
    color:#ffffff;
}
p.petersings{
    text-align: center;
    line-height: 0;
    margin: 9px 0px 9px 0px;
    font-family:'Arial Black';
    color:#ffff00;
    font-size:13px
}
p.title{
    font-size:16px;
    color:#ffff00;
    font-family:'Arial Black';
    text-align: center;
    margin: 0px;
    line-height: 1.45;
}
p.url{
    font-weight: bold;
    font-family: 'Verdana';
    font-size: 13px;
    text-align: center;
    line-height: 0;
    margin: 8px 0px 5px 0px;
}
p.linktext{
    font-size:10px;
    font-family:"Arial Black";
    text-align: center;
    line-height: 0;
    margin: 8px;
}
p.singertroubadour {
    text-align: center;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    font-size: 16px;
    font-family:'Arial Black';
    line-height: 1.5;
    margin-top: -3px;
    margin-bottom: 15px;
}
p.italicunderlined {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    font-size: 13px;
    font-family:'Arial Black';
    margin: 2px 0px 15px 0px;
    line-height: 1;
}
p.underlined {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    font-family:'Arial Black';
    line-height: 0.5;
    margin-top: 18px;
    margin-bottom: 18px;
}
p.updated {
    font-family: 'Verdana';
    font-size: 10px;
    line-height: 0;
    font-weight: bold;
    margin: 5px 0px 5px 0px;
}
p.message{
    font-family: 'Verdana';
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    margin-bottom: -6px;
    margin-top: 15px;
}
p.stars{
    display: inline;
}
p.bold{
    font-size:13px;
    font-family:"Verdana";
    text-align: center;
    font-weight: bold;
}
p.greentext{
    font-size:13px;
    font-family:"Verdana";
    text-align: center;
    font-weight: bold;
    color:#00ff00;
    display: inline;
}
p.greenunderlined{
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    color:#00ff00;
    font-family:"Verdana";
    font-weight: bold;
    font-size:12px;
}
p.yellowtext{
    font-size:13px;
    font-family:"Verdana";
    text-align: center;
    font-weight: bold;
    color:#ffff00;

}
p.smallunderlined{
    font-size:10px;
    font-family:"Arial Black";
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-align: center;
    font-weight: bold;
}
table.title{
    margin-left: auto;
    margin-right: auto;
    border: 5px;
    border-style: outset;
    border-color: grey;
    border-spacing: 2px;
}
td.title{
    min-width: 250px;
    background-color:#880000;
    border: grey solid 1px;
    border-style: inset;
}
td.longtitle{
    width: 310px;
    background-color:#880000;
    border: grey solid 1px;
    border-style: inset;
}
td.guitar{
    width: 272px;
    background-color:#880000;
    border-bottom: grey solid 1px;
    border-right: grey solid 1px;
}
td.greybar{
    min-width: 5px;
    background-color: #A8A8A8;
}
td.sidebar{
    width: 155px;
    white-space: nowrap;
    background-color: #880000;
}
td.main1{
    line-height: 0;
}
tr {
    vertical-align:top;
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.greyborder {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
 }
img.borderwithpadding {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
    border: 1px inset grey;
}
td.artist {
    padding: 3px;
    outline: 1px inset grey;
    outline-offset: -2px;
}
img.trubar2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
    border: 1px inset grey;
    max-width: 100%;
    height: auto;
}
img.main1 {
    width: 100px;
    height: 110px;
    padding: 1px;
    border: 1px inset grey;
}
img.whiteborder {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
}
img.blueborder {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid blue;
}
img.greenborder {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #00ff00;
}
table.bordered {
    margin-left: auto;
    margin-right: auto;
    border: 5px;
    border-style: outset;
    border-color: grey;
    border-spacing: 1px;
}
table.main1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -3px;
    border: 5px;
    border-style: outset;
    border-color: grey;
    border-spacing: 1px;
}
table.artist {
    margin-top: -6px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    border: 5px;
    border-style: outset;
    border-color: grey;
    border-spacing: 1px;
}
table.order {
    margin-left: auto;
    margin-right: auto;
    border: 5px;
    border-style: outset;
    border-color: grey;
    border-spacing: 0px;
    border-collapse: separate;
}
table.updated {
    margin-left: auto;
    margin-right: auto;
    border: 1px;
    border-style: outset;
    border-color: grey;
}
td.smallinset {
    border: 1px;
    border-style: inset;
    border-color: grey;
    padding: 2px;
}
.centered {
    margin: auto;
    text-align: center;
}
div.player {
    display: inline-block;
    height: 228px;
}
#spanishplayer {
    display: inline-block;
    height: 171px;
}
#guitarplayer {
    display: inline-block;
    height: 199px;
}
p.sidebarcontent{
    margin-top: -3px;
}
