<div id="{{JPLAYER}}" class="jp-jplayer"></div>
<div id="{{WRAPPER}}" class="jp-audio-stream" role="application" aria-label="media player">
  <div class="jp-type-single">
    <div class="jp-gui jp-interface">
      <div class="jp-controls">
	<button class="jp-play" role="button" tabindex="0">play</button>
      </div>
      <div class="jp-volume-controls">
	<button class="jp-mute" role="button" tabindex="0">mute</button>
	<button class="jp-volume-max" role="button" tabindex="0">max volume</button>
	<div class="jp-volume-bar">
	  <div class="jp-volume-bar-value"></div>
	</div>
      </div>
    </div>
    <div class="jp-details">
      <div class="jp-title" aria-label="title">&nbsp;</div>
    </div>
    <div class="jp-no-solution">
      <span>Update Required</span>
      To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
    </div>
  </div>
</div>
